<p><strong>commit#:</strong> 10e7fc2 <strong>author:</strong> Don S,<strong>On:</strong> 2019-10-07 08:51:54 -0700<br> 
<strong>title:</strong> >>Merge pull request #7 from sospep/ADD-FEATURE-layouts<<
</p>
<p><strong>commit#:</strong> d0362c0 <strong>author:</strong> Don Sagrott,<strong>On:</strong> 2019-10-07 08:46:46 -0700<br> 
<strong>title:</strong> >>MISC - file - image required when using placeholder images<<
</p>
<p><strong>commit#:</strong> cd47761 <strong>author:</strong> Don Sagrott,<strong>On:</strong> 2019-10-07 08:44:33 -0700<br> 
<strong>title:</strong> >>ADD-FEATURE-Article Detail - initial layout for view added<<
</p>
<p><strong>commit#:</strong> b37ea63 <strong>author:</strong> Don S,<strong>On:</strong> 2019-10-05 15:34:36 -0700<br> 
<strong>title:</strong> >>Merge pull request #6 from sospep/FIX-ISSUE-001<<
</p>
<p><strong>commit#:</strong> d1f590d <strong>author:</strong> Don Sagrott,<strong>On:</strong> 2019-10-05 15:33:21 -0700<br> 
<strong>title:</strong> >>FIX-ISSUE-001 - image for readme, location updated<<
</p>
<p><strong>commit#:</strong> b094c1a <strong>author:</strong> Don S,<strong>On:</strong> 2019-10-05 15:25:41 -0700<br> 
<strong>title:</strong> >>Merge pull request #5 from sospep/MANAGE-DEPLOYMENT<<
</p>
<p><strong>commit#:</strong> 38f7c91 <strong>author:</strong> Don Sagrott,<strong>On:</strong> 2019-10-05 15:21:50 -0700<br> 
<strong>title:</strong> >>DOCUMENT - ReadMe - updated<<
</p>
<p><strong>commit#:</strong> dc2eeab <strong>author:</strong> Don S,<strong>On:</strong> 2019-10-05 15:16:09 -0700<br> 
<strong>title:</strong> >>Merge pull request #4 from sospep/MANAGE-DEPLOYMENT<<
</p>
<p><strong>commit#:</strong> d39f27f <strong>author:</strong> Don Sagrott,<strong>On:</strong> 2019-10-05 15:13:53 -0700<br> 
<strong>title:</strong> >>MANAGE-DEPLOYMENT - ReadMe file with application setup instructions, image for github, new .vscode config files for app debug, build settings<<
</p>
<p><strong>commit#:</strong> 2e7c6af <strong>author:</strong> Don S,<strong>On:</strong> 2019-10-04 13:18:27 -0700<br> 
<strong>title:</strong> >>Merge pull request #3 from sospep/ADD-FEATURE-home-page<<
</p>
<p><strong>commit#:</strong> 03849e5 <strong>author:</strong> Don Sagrott,<strong>On:</strong> 2019-10-04 13:05:44 -0700<br> 
<strong>title:</strong> >>ADD-FEATURE - Home - Replaced the default home page with page that has relevant content. Uses carousel to display links to ] Register, ] Learn More and ] Articles Collection. Also updated CONTENT on the ] About page and added a new ] Learn More page to detail application features.<<
</p>
<p><strong>commit#:</strong> d1da72e <strong>author:</strong> Don S,<strong>On:</strong> 2019-10-03 20:30:31 -0700<br> 
<strong>title:</strong> >>Merge pull request #2 from sospep/ADD-FEATURE-authentication-implementation<<
</p>
<p><strong>commit#:</strong> 57b1ec7 <strong>author:</strong> Don Sagrott,<strong>On:</strong> 2019-10-03 20:22:01 -0700<br> 
<strong>title:</strong> >>ADD-FEATURE - Authentication - v-001 - implementation of basic authentication restricting create, edit and delete functionality on Articles and Comments to Authenticated user<<
</p>
<p><strong>commit#:</strong> 58bf2fb <strong>author:</strong> Don Sagrott,<strong>On:</strong> 2019-10-03 14:01:31 -0700<br> 
<strong>title:</strong> >>DATA - dataset update ?<<
</p>
<p><strong>commit#:</strong> 5de0347 <strong>author:</strong> Don S,<strong>On:</strong> 2019-10-02 21:12:23 -0700<br> 
<strong>title:</strong> >>Merge pull request #1 from sospep/ADD-FEATURE-pages<<
</p>
<p><strong>commit#:</strong> f664b56 <strong>author:</strong> Don Sagrott,<strong>On:</strong> 2019-10-02 21:03:48 -0700<br> 
<strong>title:</strong> >>ADD-FEATURE - Pages - controller with About page view<<
</p>
<p><strong>commit#:</strong> 1c6b25f <strong>author:</strong> Don Sagrott,<strong>On:</strong> 2019-10-02 20:04:44 -0700<br> 
<strong>title:</strong> >>Merge branch 'master' of https://github.com/sospep/dotnetThree<<
</p>
<p><strong>commit#:</strong> 816aa4c <strong>author:</strong> Don S,<strong>On:</strong> 2019-10-02 20:01:33 -0700<br> 
<strong>title:</strong> >>Initial commit<<
</p>
<p><strong>commit#:</strong> dc700b9 <strong>author:</strong> Don Sagrott,<strong>On:</strong> 2019-10-02 17:08:03 -0700<br> 
<strong>title:</strong> >>ADD-FEATURE - Comments - scaffolded views and controller, edited existing view to integrate Articles with Comments views<<
</p>
<p><strong>commit#:</strong> ce13a4f <strong>author:</strong> Don Sagrott,<strong>On:</strong> 2019-10-02 15:08:09 -0700<br> 
<strong>title:</strong> >>ADD-FEATURE - Articles - scaffolded views and added db table for Articles<<
</p>
<p><strong>commit#:</strong> 3592538 <strong>author:</strong> Don Sagrott,<strong>On:</strong> 2019-10-02 13:25:52 -0700<br> 
<strong>title:</strong> >>Initial Commit - new mvc project with authentication, no https<<
</p>
