@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>
<h2>@ViewData["h2"]</h2>
<p>dotnetThree is an application used to create blog Articles </p>
<p>The blog articles that are created, can have readers comments posted to them.</p>
<p>The Details view of a blog article, displays both the article and any comments associated with that article.</p>
<p>This view also has an Add Comment form where users can post a comment on the displayed Article</p> 
<h3>Coming Soon</h3>
<p> Authentication features</p>
<p>This application is built with microsoft's newest dotnet core version 3.0 development platform</p>

