@{
    ViewData["Title"] = "About";
}

<h1>@ViewData["Title"]</h1>
<h2>@ViewData["appName"]</h2>

<h3>Description</h3>
<p>@ViewData["appDescription"]</p>

<h3>Version</h3>
<p>Current: @ViewData["appVersion"]</p>

<h3>Change Log</h3>
<a asp-controller="Pages" asp-action="ChangeLog">Revision History</a>

<h3>Technology</h3>
<p>This application is built with microsoft's newest dotnet core version 3.0 development platform</p>


